.visual .img-default{
    border-radius: 8px;
}
.project-container {
    display:flex; 
    flex-wrap: nowrap; 
    gap: 10px; 
    align-items: stretch;
    overflow: hidden;
}

.project-code-container{
    width: 55%;
    background-color: #f5f2f0;
    border-radius: 16px 16px 0px 0px;
}

.project-code-container>div.code-image-container{
    height: 100%;
}

.project-code-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}

.type-2.project-container .project-result-container{
    width: 50%;
    height: 500px;
}

.project-result-container{
    width: 45%;
}

.result-inner-container{
    padding: 8px 0px; 
    height: 100%; 
    box-sizing:border-box;
}

.result-embed{
    width: 100%; 
    height: 100%;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.project-result-container img{
    width: 100%;
}

.project-result-container .result-inner-container, .project-result-container .result-inner-container>div.result-image-container, .project-result-container .result-inner-container>div.result-image-container img{
    height: 100%;
}

.code-container-header{
    background-color: antiquewhite;
    padding: 16px 8px;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    gap:32px;
}


.type-2.project-container .result-container-header{
    background-color: rgb(48, 48, 48)
}

.result-container-header{
    background-color: darkslategray;
    padding: 16px 8px;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    gap:32px;
}

.code-container-header .menu-button-group, .result-container-header .menu-button-group{
    display: flex;
    gap: 8px
}

.code-container-header .menu-button-group a, .result-container-header .menu-button-group a{
    width: 16px;
    height: 16px;
    display: block;
    background-color: #57a0ff;
    border-radius: 100%;
}

.code-container-header .menu-button-group a.red, .result-container-header .menu-button-group a.red{
    background-color: #ff5f57;
}
.code-container-header .menu-button-group a.yellow, .result-container-header .menu-button-group a.yellow{
    background-color: #febc2e;
}

.code-container-header .menu-button-group a.green, .result-container-header .menu-button-group a.green{
    background-color: #28c840;
}

.code-container-header .header-title h4{
    color:#393a39
}

.result-container-header .header-title h4{
    color:#c1d6c1
}

.image-project-row{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.image-project-row > div{
    width:25%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}

.image-project-row > div:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image-project-row > div a{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-project-row > div img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

footer .contact-info>ul{
    display:flex; 
    gap:16px;
}

@media(max-width:540px){
    .project-container{
        flex-direction: column;
        gap:48px;
    }
    .project-code-container{
        width: 100%;
    }
    .project-result-container{
        width: 100%;
        height: 480px;
    }

    .project-container.type-2{
        gap:48px;
    }
    .project-container.type-2 .project-result-container{
        width: 100%;
    }

    .image-project-row > div{
        width:50%;
        aspect-ratio: 1/1;
    }

    footer .contact-info{
        padding-left: 32px;
        padding-right: 32px;
    }
    footer .contact-info>ul{
        flex-direction: column; 
        gap:8px;
    }
}


/** Modal CSS **/
/* Style the Image Used to Trigger the Modal */
#myImg, .project-image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover, .project-image:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }